<br class="clr" /> <br class="clr" />
<div class="booyah-box col-10 offset-1">
<h1> Nature Photos Across the Globe  </h1>
</div>
<br class="clr" /> <br class="clr" />
<div class="video">
<iframe width="800" height="415" src="https://www.youtube.com/embed/XP6xRZCFDYU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>        
