@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.navbar {
  font-family: "Frutiger Linotype",Frutiger; 
  font-weight: 400;
  color: green;
  text-shadow: 2px 2px 4px #000000;
  background: image_url('hexdark.png')
}

.navbar-inverse a.navbar-brand {
  font-family: "Frutiger Linotype",Frutiger; 
  font-weight: 300;
  color: green;
  text-shadow: 10px 10px 20px #000000;
}

h1 {
    font-family: "Frutiger Linotype",Frutiger; 
    color: #00008B;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-family: "Frutiger Linotype",Frutiger; 
    color: #00008B;
    margin: 0 auto;
    text-align: center;
}

h3 {
    font-family: "Frutiger Linotype",Frutiger; 
    color: #00008B;
    margin: 0 auto;
    text-align: center;
}

.video{
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
  background: image_url('leaves.png')
}

.btn {
  border-radius: 0;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background: image_url('hexdark.png');
  color: white;
  font-family: "Frutiger Linotype",Frutiger; 
  padding: 10px 0px;
  margin-top: 30px;
  font-weight: 100;
}

#footer a {
  color: white;
  font-weight: 100;
  padding: 10px 0px;
  margin-top: 30px;
}